# Jupyter artifacts
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment (local)
venv/
pandas_env/

# Data/Export outputs
*.csv
*.xlsx
*.parquet
*.pdf
exports/
assets/*.png

# OS files
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/

# Docker
*.log
